<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Insert Title Here</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">	

  <!-- <link rel="stylesheet" href="style.css"> -->

</head>

<body>
  <p id="explanation" style="background-color: gray; color: purple; font-size: 24pt; text-shadow: 2px 2px black; margin-bottom: 0px;">Showing a quick example of a Bootstrap table. It's much easier to use a CSS library than write my own. But to show that I can style things myself, I've styled this paragraph with inline CSS. This Paragraph also has a jQuery fade effect. Hover over me to see!</p>
  <table class="table table-striped table-dark">
    <thead>
      <th scope="col">Name</th>  
      <th scope="col">About</th>
      <th scope="col">Education</th>
      <th scope="col">Skills</th>
      <th scope="col">Work</th>
      <th scope="col">Contact</th>
    </thead>
    <tr>
      <td id="name"></td>
      <td id="about"></td>
      <td id="education"></td>
      <td id="skills"></td>
      <td id="work"></td>
      <td id="contact"></td>
    </tr>
  </table>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
  $(window).on('load', function(){
     // change the URL to your server URL here
     $.getJSON("http://162.246.157.229/api/person/1/", function (data) {
          $("#name").text(data.data.attributes.name);
          $("#about").text(data.data.attributes.about);
          $("#education").text(data.data.attributes.education);
          $("#skills").text(data.data.attributes.skills);
          // Complete consuming the API data and updating the work and contact sections
          // HINT: look at the above lines, jquery documentation, see what is the object returned
    	  $("#work").text(data.data.attributes.work);
	  $("#contact").text(data.data.attributes.contact);	 
          
	  <!-- Taken from: https://stackoverflow.com/questions/9492414/jquery-fadeout-on-hover from user jfriend00 on Monday October 1 2018 -->
	  $("#explanation").hover(function() {
		$(this).stop(true).fadeTo("slow", 0);
	  }, function() {
		$(this).stop(true).fadeTo("slow", 1);
	  });    

     });
  });
  </script>
</body>
</html>
